---
layout: main
---

{% include 'nav.njk' %}

<section>
  <p>
    <em>This is the website of Bobby Azarbayejani (aka 'nohup')</em>
  </p>

  <p>
    I am a DJ, producer, multimedia artist, and tool builder living in Seattle,
    WA. I operate the record label
    <em><a href="https://illegalafter.party">`illegal afters tracks`</a></em>
    and co-founded the
    <em><a href="https://groundhum.net">Ground Hum</a></em> music festival. You
    may also know me by my other aliases: <em>'nohup'</em>, <em>'sighup'</em>,
    <em>DJ Kaaba Emoji</em>, <em>Wicked Lover</em> and more.
  </p>

  <p>
    I'm also the creator of
    <em><a href="/bandcamp-tempo-adjust">Bandcamp Tempo Adjust</a></em
    >, a tool that helps DJs detect and adjust the tempo of tracks on Bandcamp,
    and <a href="/discogs-tempo-adjust">Discogs Tempo Adjust</a>, a similar tool
    for Discogs.
  </p>

  <p>
    <small>
      You can find me on social media under the handle
      <em>miseryconfusion</em> on most social media platforms, including
      platforms like
      <a href="https://soundcloud.com/miseryconfusion">Soundcloud</a>,
      <a href="https://bsky.app/profile/miseryconfusion.bsky.social">Bluesky</a
      >, and
      <a href="https://mastodon.social/@miseryconfusion">Mastodon</a>
    </small>
  </p>

  <p>
    <a href="mailto:contact@miseryconfusion.com"
      >✉️ contact@miseryconfusion.com</a
    >
  </p>
</section>

<section>
  <h4><em>Professional Software Development</em></h4>
  <p>
    I have more than 10 years of experience as a software engineer. I was last
    employed at Dropbox. You can find more info on my professional software
    development work on
    <a href="https://www.linkedin.com/in/azarbayejani/">Linkedin</a>.
  </p>
</section>

<section>
  <h3><em>Press</em></h3>

  <ul>
    <li>
      <a href="https://atmospheric-river.com/nohup/"
        >The method and the madness: 'nohup'</a
      >
      in <em>Atmospheric River</em>, April 2024
    </li>
    <li>
      <a href="https://ra.co/news/81694"
        >New free web extension allows Discogs users to adjust tempos</a
      >, in Resident Advisor, November 2024
    </li>
    <li>
      <a href="https://cdm.link/bandcamp-and-discogs-tempo-adjust/">
        Bandcamp and Discogs Tempo Adjust has a new UI</a
      >, cdm.link, November 2024
    </li>
    <li>
      <a href="https://www.passionweiss.com/2024/01/23/nohup-interview/"
        >An Interview with 'nohup'</a
      >
      in <em>Passion of the Weiss</em>, January 2024
    </li>
    <li>
      <a
        href="https://www.thestranger.com/music/2015/03/04/21817549/the-coldbrew-collective-are-some-real-sons-of-glitches"
        >The Coldbrew Collective Are Some Real Sons of Glitches</a
      >
      in <em>The Stranger</em>, March 2015
    </li>
  </ul>
</section>

<section>
  <p id="lastModified">This website was last updated on {% lastCommitDate %}</p>
</section>
