---
layout: base
title: Bandcamp Tempo Adjust
description: Bandcamp Tempo Adjust is a web extension that allows DJs to detect and adjust tempo on Bandcamp.
bodyClass: "product-page"
image: "/images/bandcamp-tempo-adjust-logo.png"
---

{% import 'components.njk' as components %}

<p><a href="/projects/">&larr; back to projects</a></p>
<section class="header">
  <div class="header__logo-container">
    <img src="{{ image }}" alt="{{ title }}" class="header__logo--h1" />
  </div>
  <h1>{{ title }}</h1>
</section>
<section style="display: flex; flex-direction: column; align-items: center">
  <p>{{ description }}</p>

  <div>
    {{
      components.linkButton("Install on Chrome",
      "https://chrome.google.com/webstore/detail/bandcamp-tempo-adjust/iniomjoihcjgakkfaebmcbnhmiobppel",
      "/images/chrome-icon.png", true)
    }}
    {{
      components.linkButton("Install on
      Firefox",
      "https://addons.mozilla.org/en-US/firefox/addon/bandcamp-tempo-adjust/",
      "/images/firefox-icon.png", true)
    }}
    {{
      components.linkButton("GitHub",
      "https://github.com/azarbayejani/bandcamp-tempo-adjust",
      "/images/github-icon.png", "invert-on-dark")
    }}
    {{
      components.linkButton("Donate to
      support the project", "https://buymeacoffee.com/miseryconfusion",
      "/images/donate-icon.png", "invert-on-dark")
    }}
  </div>

  <p>
    You may also be interested in
    <a href="/discogs-tempo-adjust">Discogs Tempo Adjust</a>, which is a similar
    tool for Discogs.
  </p>
</section>

<section>
  <p><em>Here's how it looks:</em></p>
  <img
    src="/images/bandcamp-tempo-adjust-screenshot.png"
    alt="Bandcamp Tempo Adjust screenshot"
    class="full-width-image"
  />
</section>

<section>
  <h2>Full feature list</h2>
  <ul>
    <li>
      <strong>BPM adjustment:</strong> available on album, track, and collection
      pages
    </li>
    <li><strong>BPM Detection:</strong> available on album and track pages</li>
    <li>
      <strong>Purchase export:</strong> export your purchases with currency
      conversion to analyze your spending on Bandcamp
    </li>
    <li>
      <strong>Master tempo:</strong> adjust track tempo without changing the
      pitch (available on album and track pages)
    </li>
  </ul>
</section>
