---
layout: main
---

<section>
  <p>If you are a friend with a website, let me know and I'll add you!</p>
  <ul>
    <li><a href="https://aashishgadani.com">Aashish Gadani</a></li>
    <li><a href="http://www.andrew-mcclymont.com">Andrew McClymont</a></li>
    <li><a href="https://atmospheric-river.com">Atmospheric River</a></li>
    <li><a href="http://august222222.com">August V.M.</a></li>
    <li><a href="https://goopofficial.neocities.org">Goop</a></li>
    <li><a href="https://kels.cool">Kelsea Dill</a></li>
    <li><a href="http://fried.design">L Fried</a></li>
    <li><a href="http://minhnguyen.info">Minh Nguyen</a></li>
  </ul>
</section>
