---
layout: main
---

<style>
  nav {
    text-align: center;
  }

  nav ul {
    justify-content: center;
  }
</style>

{% import 'components.njk' as components %}

<section class="links" style="margin-top: 24px">
  <div>
    {% for link in links %}
      {{ components.linkButton(link.name, link.url, link.image) }}
    {% endfor %}
  </div>
</section>
