---
layout: main
---

<section>
  <h3><em>Selected DJ Mixes</em></h3>
  <ul>
    <li>
      <a href="https://soundcloud.com/honchopgh/campout-mix-series-nohup"
        >Campout Mix Series: 'nohup'</a
      >
      <br />
      <small>November 2024</small>
    </li>
    <li>
      <a
        href="https://soundcloud.com/miseryconfusion/wicked-lover-saturday-at-5pm-at-lodge-2024"
        >Wicked Lover - Saturday at 5pm at Lodge 2024</a
      >
      <br />
      <small>September 2024</small>
    </li>
    <li>
      <a href="https://soundcloud.com/atmospheric-river/wetcast-nohup-atmo-01"
        >Wetcast 01: 'nohup' (Impromputu 2023)</a
      >
      <br />
      <small>April 2023</small>
    </li>
    <li>
      <a href="https://soundcloud.com/miseryconfusion/bobby-lodge-2023"
        >Bobby @ Lodge 2023</a
      >
      <br />
      <small>August 2023</small>
    </li>
    <li>
      <a href="https://soundcloud.com/miseryconfusion/300am-lodge-2022"
        >'nohup' @ Lodge 2022</a
      >
      <br />
      <small>August 2022</small>
    </li>
    <li>
      <a href="https://soundcloud.com/secretsauceseattle/secret-sauce-07-nohup"
        >Secret Sauce 07 - 'nohup'</a
      >
      <br />
      <small>November 2021</small>
    </li>
    <li>
      <a href="https://soundcloud.com/hyponik-com/hyp-432-nohup"
        >Hyponik 432 - 'nohup'</a
      >
      <br />
      <small>May 2021</small>
    </li>
  </ul>
</section>

<section>
  <h3><em>Selected Recordings</em></h3>
  <ul>
    <li>
      <a href="https://miseryconfusion.bandcamp.com/album/all-true"
        >'nohup' - all true _____</a
      >

      <br />
      <small
        >self released cassette (2023) - reviewed in
        <em>The Wire Magazine</em> September 2023 issue</small
      >
    </li>
    <li>
      <a
        href="https://particlemagazine.bandcamp.com/track/nohup-katoli-dat-majnun-remix"
        >'nohup' - katoli.DAT (majnun remix)</a
      >
      <br />
      <small>Particle Magazine (October 2020)</small>
    </li>
    <li>
      <a href="https://apte.bandcamp.com/track/substance-p"
        >'nohup' - Substance P</a
      >
      <br />
      <small>Apt E (October 2019)</small>
    </li>
  </ul>
</section>
