---
layout: main
---

<section>
  <a class="header" href="/bandcamp-tempo-adjust">
    <div class="header__logo-container">
      <img
        src="/images/bandcamp-tempo-adjust-logo.png"
        alt="Bandcamp Tempo Adjust logo"
        class="header__logo--h3"
      />
    </div>
    <h3>Bandcamp Tempo Adjust</h3>
  </a>

  <p>
    A web extension that allows DJs to detect and adjust tempo on Bandcamp. It
    is available on
    <a
      href="https://chromewebstore.google.com/detail/bandcamp-tempo-adjust/iniomjoihcjgakkfaebmcbnhmiobppel"
      >Chrome</a
    >
    and
    <a
      href="https://addons.mozilla.org/en-US/firefox/addon/bandcamp-tempo-adjust/"
      >Firefox</a
    >. Code is available on
    <a href="http://github.com/azarbayejani/bandcamp-tempo-adjust">GitHub</a>.
  </p>
</section>

<section>
  <a class="header" href="/discogs-tempo-adjust">
    <div class="header__logo-container">
      <img
        src="/images/discogs-tempo-adjust-logo.png"
        alt="Bandcamp"
        class="header__logo--h3"
      />
    </div>
    <h3>Discogs Tempo Adjust</h3>
  </a>

  <p>
    A web extension that allows DJs to adjust tempo on Discogs. It is available
    on
    <a
      href="https://chromewebstore.google.com/detail/discogs-tempo-adjust/lifpcepdalajjkklljnfcjpjjjllfhha"
      >Chrome</a
    >
    and
    <a
      href="https://addons.mozilla.org/en-US/firefox/addon/discogs-tempo-adjust/"
      >Firefox</a
    >. Code is available on
    <a href="http://github.com/azarbayejani/bandcamp-tempo-adjust">GitHub</a>.
  </p>
</section>

<section>
  <h3><em>Other projects</em></h3>

  <ul>
    <li>
      <em><a href="http://residentvisor.net">Resident Visor</a></em>
      (2017-2020): a parody apparel brand that printed Resident Advisor
      headlines and reviews on visors
    </li>
    <li>
      <em><a href="https://twitter.com/hardwaxbot">hardwaxbot</a></em> (2017 -
      2021): a Twitter bot that used generative AI to tweet plausible Hardwax
      record blurbs
    </li>
    <li>
      <em
        ><a href="https://aashishgadani.com/cc_show_list.html?"
          >Coldbrew Collective</a
        ></em
      >
      (2014-2017): a joint live visual, music video, and video art project with
      <a href="https://aashishgadani.com">Aashish Gadani</a>
    </li>
  </ul>
</section>
