<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title | default('miseryconfusion.com') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ '/style.css' | url | bust }}"
      type="text/css"
    />
    <meta
      name="og:image"
      content="{{ image | default('/images/kaaba-emoji.png') }}"
    />
    <meta
      name="og:title"
      content="{{ title | default('miseryconfusion.com') }}"
    />
    <meta
      name="description"
      content="{{ description | default('the website of Bobby Azarbayejani (aka \'nohup\')') }}"
    />
    <meta
      name="og:description"
      content="{{ description | default('the website of Bobby Azarbayejani (aka \'nohup\')') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/fimages/favicon-16x16.png"
    />
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>
