---
layout: main
---

<article>
  <header>
    <h1>{{ title }}</h1>
    <p class="date">{{ page.date | fullDate }}</p>
  </header>

  <style>
    .date {
      font-size: 0.8em;
    }

    .blog {
      p {
        line-height: 1.6;
      }

      margin-bottom: 4em;

      .footnotes {
        font-size: 0.8em;
      }

      .footnotes-sep {
        margin-top: 2em;
        width: 25%;
        margin-left: 0;
      }
    }
  </style>

  <div class="blog">{{ content | safe }}</div>
</article>
